[submodule "apostrophe-cms-js"]
	path = out-there/apostrophe-cms
	url = git@github.com:apostrophecms/apostrophe.git
[submodule "vuejs-webpack-pwa"]
	path = tmpl-vuejs-webpack-pwa
	url = git@github.com:fabic/vuejs-webpack-pwa.git
[submodule "react-redux-universal-hot-example"]
	path = react-redux-universal-hot-example
	url = git@github.com:bertho-zero/react-redux-universal-hot-example.git
