{% extends 'layout.html.njk' %}

{% block content %}
  <h1>Hello EUMetSat !</h1>
  <p>
  <b>title:</b> {{ title }}
  </p>
  {% if error %}
    <div class="error">
      {{ error }}
    </div>
  {% endif %}

  <ul>
  {% for file in images_list %}
    <li>
        <a href="{{ file.path }}">{{ file.fileName }}</a>
    </li>
  {% endfor %}
  </ul>
{% endblock content %}
